<form #buyEditForm="ngForm">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="amount">Amount: </label>
        <input type="text" readonly="true" class="form-control form-control-sm border border-primary" id="amount" [(ngModel)]="buy.amount" name="amount">
      </div>

      <div class="form-group">
        <label for="price">Price: </label>
        <input type="text" readonly="true" class="form-control form-control-sm border border-primary" id="price" [(ngModel)]="buy.price" name="price">
      </div>

      <div class="form-group">
        <select [(ngModel)]="buy.category" class="form-control" name="category">
          <option *ngFor="let category of buy.categories" [ngValue]="category[0]">{{ category[1] }}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="!buy.archived">
        <button type="button" class="btn btn-primary mr-1" (click)="edit(buy);" [disabled]="!buyEditForm.form.valid">Edit
        </button>
        <zen-quick-sell class="mr-1" [operation]="getQuickSell()" (onOperationSold)="updateBuy()"></zen-quick-sell>
        <zen-note-modal [operation_pk]="buy.pk"></zen-note-modal>
      </div>  
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="nickname">Nickname: </label>
        <input type="text" class="form-control form-control-sm border border-primary" id="nickname" [(ngModel)]="buy.nickname" name="nickname">
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-input" id="archived" name="archived" [(ngModel)]="buy.archived"
                                                                [checked]="buy.archived">
        <label for="checkbox">Archived</label>
      </div>
    </div>
  </div>
</form>
