<div class="">
  <div class="">
    <button title="Create an experiment" class="btn btn-sm btn-outline-primary mr-2 " (click)="acc.toggle('experience')"><i class="fa fa-flask"></i> </button>
    <!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('buy')">Buy</button>
      - <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('sell')">Sell</button> -->
  </div>

  <ngb-accordion id="experience-acc" name="experience-acc" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel id="experience" name="experience" title="Experience">
      <ng-template id="experience-template" ngbPanelContent>
        <div class="zen-accordion-content">
          <zen-experience (onOperationExperiment)="notifyExperiment($event)"></zen-experience>
        </div>
      </ng-template>
    </ngb-panel>
    <!-- <ngb-panel id="buy">
      -   <ng-template ngbPanelTitle>
      -     <span>Buy</span>
      -   </ng-template>
      -   <ng-template ngbPanelContent>
      -     <div class="zen-accordion-content">
      -       <zen-buy (onOperationBuy)="notifyBuy($event)"></zen-buy>
      -     </div>
      -   </ng-template>
      - </ngb-panel>
      - <ngb-panel id="sell" title="Sell">
      -   <ng-template ngbPanelContent>
      -     <div class="zen-accordion-content">
      -       <zen-sell (onOperationSell)="notifySell($event)"></zen-sell>
      -     </div>
      -   </ng-template>
      - </ngb-panel> -->
  </ngb-accordion>

</div>
