<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" i18n="Create experience@@createExperience">Experiment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <zen-experience (onOperationExperiment)="notifyExperiment($event)"></zen-experience>

  </div>
</ng-template>

<button class="btn btn-outline-primary" style="border-right-color: #CDE5CA;" title="Add Stock" (click)="openLg(content)"><i class="fa fa-flask"></i></button>
