<div class="zen-accordion">
  <div class="zen-container">
    <button class="btn btn-sm btn-outline-primary mr-2 zen-rotate zen-experiment" (click)="acc.toggle('experience')">Experience</button>
    <button class="btn btn-sm btn-outline-primary mr-2 zen-rotate zen-buy" (click)="acc.toggle('buy')">Buy</button>
    <button class="btn btn-sm btn-outline-primary mr-2 zen-rotate zen-sell" (click)="acc.toggle('sell')">Sell</button>
  </div>

  <div class="row">
    <div class="col-4">

      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel id="experience" name="experience" title="Experience">
          <ng-template ngbPanelContent>
            <div class="zen-accordion-content">
              <zen-experience (onOperationExperiment)="notifyExperiment($event)"></zen-experience>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="buy">
          <ng-template ngbPanelTitle>
            <span>Buy</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="zen-accordion-content">
              <zen-buy (onOperationBuy)="notifyBuy($event)"></zen-buy>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="sell" title="Sell">
          <ng-template ngbPanelContent>
            <div class="zen-accordion-content">
              <zen-sell (onOperationSell)="notifySell($event)"></zen-sell>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>
</div>
