<zen-menu></zen-menu>

<div class="container-fluid">
<zen-bootstrap-officer></zen-bootstrap-officer>

<div class="row">
  <div class="col-12">
    <p *ngIf="sells.length == 0">You don't have any sells. Start <a href="/buy-focus">selling</a> anything you have
      bought.</p>
    <div class="row mt-3" *ngFor="let sell of sells">
      <div class="col-5">
        <zen-sell-card [sell]="sell" (onSellChanged)="list()"></zen-sell-card> 
      </div>
      <div class="col-7">
        <zen-sell-edit [sell]="sell" (onEditSell)="list()"></zen-sell-edit> 
      </div>
    </div>
  </div>
</div>
</div>

