<form #sellForm="ngForm">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        *<label for="amount" i18n="Amount@@amount">Amount</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" (keydown.enter)="edit(sell);" id="amount" [(ngModel)]="sell.amount" name="amount" required>
      </div>

      <div class="form-group">
        *<label for="price" i18n="Price@@price">Price</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" (keydown.enter)="edit(sell);" id="price" [(ngModel)]="sell.price" name="price" required>
      </div>

      <div class="form-group">
        <label for="nickname" i18n="Nickname@@nickname">Nickname</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" (keydown.enter)="edit(sell);" id="nickname" [(ngModel)]="sell.nickname" name="nickname">
      </div>

      <div class="form-group">
        <label for="category" i18n="Category@@category">Category</label>: 
        <div class="row">
          <div class="col-8">
            <select [(ngModel)]="sell.category" class="form-control" name="category">
              <option *ngFor="let category of sell.categories" [ngValue]="category[0]">{{ category[1] }}</option>
            </select>
          </div>
          <div class="col-4">
              <button class="btn btn-primary" type="button" (click)="suggestCategory()" i18n="Sugest@@sugest">Sugest</button>
          </div>
        </div>
      </div>

      <div class="form-group mt-2">
        <button class="btn btn-sm btn-primary me-1" type="button" (click)="edit(sell);" *ngIf="!sell.executed"
                                             [disabled]="!sellForm.form.valid" 
                                             i18n-title="Edit Sale title@@editSaleTitle" title="Confirm updates.">
                                                <i class="fas fa-edit"></i></button>

        <button class="btn btn-sm btn-outline-primary me-1" type="button" (click)="execute(sell);" *ngIf="!sell.executed"
                                             [disabled]="!sellForm.form.valid"
                                            i18n-title="Execute Sale title@@executeSaleTitle" title="Register the execution of the stock.">
                                                <i class="fas fa-play-circle"></i></button>

        <zen-quick-sell class="me-1" [operation]="getQuickSell()" (onOperationSold)="afterSell(sell)"></zen-quick-sell>

        <zen-archive [operation]="sell" (onOperationArchived)="afterSell(sell)"></zen-archive>
      </div>

    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="stop_loss" i18n="Stop loss@@stopLoss">Stop loss</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" (keydown.enter)="edit(sell);" id="stop_loss" [(ngModel)]="sell.stop_loss" name="stop_loss">
      </div>

      <div class="form-group">
        <label for="stop_gain" i18n="Stop gain@@stopgain">Stop gain</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" (keydown.enter)="edit(sell);" id="stop_gain" [(ngModel)]="sell.stop_gain" name="stop_gain">
      </div>

      <div class="form-group mt-3">
        <input type="checkbox" class="form-input" id="archived" name="archived" [(ngModel)]="sell.archived"
                                                                (keydown.enter)="edit(sell);" [checked]="sell.archived">
        <label for="checkbox" i18n="Archived@@archived">Archived</label>
      </div>
    </div>
  </div>
</form>
