/deep/ .card-header {
  display: none;
  padding: 0.0rem 0.00rem;
  margin-bottom: 0;
  border-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.00);
}

/deep/ .card {
  /* display: none; */
  border: 0px;
}

.zen-container {
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.zen-experiment {
  margin-bottom: 3.35rem;
}

.zen-buy {
  margin-bottom: 0.7rem;
}

.zen-sell {
  margin-bottom: 0.6rem;
  /* margin-bottom: 50px; */
}

.zen-rotate {
  /* float: left; */
  display: block;
  transform-origin: 0% 0%;
  margin-left: 30px;
  transform: rotate(90deg);
}
