<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mb-1" *ngFor="let operation of operationsNested">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{operation.stock.code}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ operation.date | date:'dd/MM/y' }}</h6>
          <p class="card-text">Amount: {{ operation.amount }}</p>
          <p class="card-text">Price: {{operation.price}}</p>
          <p class="card-text">Cost: {{ operation.cost }}</p>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn-sm btn-primary" (click)="emmitExperienceSelected(operation)">Experience</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <zen-buy [operationNested]="operation"></zen-buy>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn-sm btn-primary" (click)="emmitSellSelected(operation)">Sell</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

