<zen-menu></zen-menu>
<div class="container-fluid">
<zen-operation-accordion (onOperationMade)="updateBuys()"></zen-operation-accordion>
<zen-bootstrap-officer></zen-bootstrap-officer>
  <div class="row">
    <div class="col-12">
      <div class="row mt-3" *ngFor="let buy of buys">
        <div class="col-5">
          <zen-buy-card [buy]="buy" (onBuyChanged)="updateBuys()"></zen-buy-card>
        </div>
        <div class="col-7">
          <zen-buy-edit [buy]="buy" (onEditBuy)="updateBuys()"></zen-buy-edit>  
        </div>
      </div>
    </div>
  </div>
