
.zen-logo {
  font-size: 4rem;
  font-family: 'StardosStencil-Regular', Regular;
}

.zen-menu {
  color: var(--menu-fn-color);
}

a {
  color: var(--menu-fn-color);
}

.zen-menu-bg {
  background-color: var(--menu-bg-color);
}
