<div class="card zen-card-class">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-5">
        <a href="http://www.fundamentus.com.br/detalhes.php?papel={{ experience.stock_data.code }}" target="_blank">{{
          experience.stock_data.code }}</a>-{{ experience.stock_data.name }} ({{ experience.stock_data.owned }}) - {{
        experience.nickname }}

        <span title="{{ getDateLapse(experience.creation_date) }}">({{ experience.creation_date | date: "dd.MM.y" }})</span>
         <span i18n="by@@By">by</span> <strong>[{{ experience.owner_data.username }}]</strong>
      </div>

      <div class="col-3">
        <button class="btn btn-outline-primary btn-sm mr-1" (click)="toggleEdit()" *ngIf="editable"><i class="fas fa-edit"></i></button>
        <zen-quick-buy class="mr-1" [experience]="experience" (onOperationBought)="updateExperience($event)" ></zen-quick-buy>
        <zen-paper-quick-buy class="mr-1" [experience]="experience"
                           (onOperationChanged)="updateExperience($event)" ></zen-paper-quick-buy>
      </div>

      <div class="col-3">
        <zen-note-modal [operation_pk]="experience.pk"></zen-note-modal>
        <zen-analysis-modal [analysisPk]="experience.analysis"></zen-analysis-modal>
      </div>


      <div class="col-1" (click)="markToUpdate()">
        <ngb-rating [max]="1" [resettable]="true" [(rate)]="experience.favorite"
          (rateChange)="updateFavorite()">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>

    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-5">
          <ul *ngIf="experience.detailed">
            <li><span i18n="Stop Loss@@stopLoss">Stop Loss</span>: R$ <span [ngStyle]="{'color': experience.stop_loss_result | number: '1.2-2' | numberColor}"> {{ experience.stop_loss_result | number: '1.2-2' }}</span>/
              <span [ngStyle]="{'color': experience.stop_loss_percent | number: '1.2-2' | numberColor} ">{{ experience.stop_loss_percent | number: '1.2-2' }}</span>%</li>
            <li><span i18n="TargetGain@@targetGain">Target Gain: R$</span> <span [ngStyle]="{'color': experience.target_gain | number:'1.2-2' | numberColor}">{{ experience.target_gain | number:'1.2-2' }}</span> /
              <span [ngStyle]="{'color': experience.target_gain_percent | number: '1.2-2' | numberColor}">{{ experience.target_gain_percent | number: '1.2-2' }}</span>%</li>
            <li><span i18n="Recommended Limit@@recommendedLimit">Recommended Limit: R$</span> {{ experience.operation_limit | number:'1.2-2' }} </li>
            <li><span i18n="grade@@grade">Grade: </span><zen-print-grade [analysisPk]="experience.analysis"></zen-print-grade></li>
          </ul>

          <div class="card" style="font-size: 0.75rem;" *ngIf="experience.detailed">
            <div class="card-header" i18n="EquityImpact@@equityImpact">Equity Impact</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span i18n="StopLoss@@stopLoss">Stop loss:</span> <span [ngStyle]="{'color':  experience.stop_loss_total_percent |
              number: '1.2-2' | numberColor }">{{  experience.stop_loss_total_percent | number: '1.2-2' }}</span>%</li>
              <li class="list-group-item"><span i18n="Target@@target">Target</span>: <span [ngStyle]="{'color':  experience.target_gain_total_percent |
              number: '1.2-2' | numberColor }">{{  experience.target_gain_total_percent | number: '1.2-2' }}</span>%</li>
              <li class="list-group-item"><span i18n="Stock@@stock">Stock</span>: <span [ngStyle]="{'color':  experience.experience_total_gain_percent |
              number: '1.2-2' | numberColor }">{{  experience.experience_total_gain_percent | number: '1.2-2' }}</span>%</li>
            </ul>
          </div>
        </div>
        <div class="col-7">
          <ul>
            <li><strong><span i18n="Price@@price">Price</span>: R$ {{ experience.price }}/<span *ngIf="experience.detailed">R$ {{ experience.operation_average_price | number: '1.2-2'}}</span></strong></li>
            <li><span i18n="Amount@@amount">Amount</span>: {{ experience.amount }}</li>
            <li *ngIf="experience.detailed"><span i18n="Cost@@cost">Cost: R$</span><span [ngClass]="[getCostColor(experience)]">{{ experience.cost |  number: '1.2-2' }}/R$ {{ experience.average_cost | number: '1.2-2' }}</span></li> <!-- Colocar o get color -->
            <li><hr></li>
            <li><span i18n="Stock Price@@stockPrice">Stock price</span>: R$ {{ experience.stock_data.price }}</li>
            <li *ngIf="experience.detailed"><span i18n="Stock Cost@@stockCost">Stock cost: R$</span> {{ experience.stock_cost | number: '1.2-2' }}/R$ {{ experience.average_stock_cost | number: '1.2-2' }}</li>
            <li *ngIf="experience.detailed"><span i18n="StockProfit@@stockProfit">Stock profit: R$</span> <span [ngStyle]="{'color': experience.experience_gain |
            number: '1.2-2' | numberColor }">{{ experience.experience_gain | number: '1.2-2' }}</span>/
          <span [ngStyle]="{'color': experience.experience_gain_percent | number: '1.2-2' | numberColor}">{{ experience.experience_gain_percent | number: '1.2-2' }}</span>%</li>
          </ul>
          <zen-stock-edit [stockInput]="experience.stock_data"
            (onStockUpdated)="notifyStockUpdated($event)"></zen-stock-edit>
        </div>
      </div>
    </div>
  </div>
</div>
