<div class="">
  <div class="">
    <button title="Create an experiment" class="btn btn-sm btn-outline-primary mr-2 " (click)="acc.toggle('experience')"><i class="fa fa-flask"></i> </button>
  </div>

  <ngb-accordion id="experience-acc" name="experience-acc" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel id="experience" name="experience" title="Experience">
      <ng-template id="experience-template" ngbPanelContent>
        <div>
          <zen-experience-create-no-stock
            (onOperationExperiment)="notifyExperiment($event)" [stock]="stock_input"></zen-experience-create-no-stock>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</div>
