<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" i18n="Add Stock@@addStock">Add Stock</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <form #addStockForm="ngForm">
        <div class="form-row">
          <div class="form-group col-6">
            <label for="stockCode" i18n="Code@@code">Code: </label>
            <input type="text" id="stockCode" class="form-control" [(ngModel)]="stock.code" name="code">
          </div>
          <div class="form-group col-6">
            <label for="stockPrice" i18n="Name@@name">Name: </label>
            <input type="text" id="stockName" class="form-control" [(ngModel)]="stock.name" name="name">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="stockPrice" i18n="Price@@price">Price: </label>
            <input type="number" id="stockPrice" class="form-control" [(ngModel)]="stock.price" name="price">
          </div>

          <div class="form-group col-6">
            <label for="stockSector" i18n="Sector@@sector">Sector: </label>
            <input type="text" id="stockSector" class="form-control" [(ngModel)]="stock.sector" name="sector">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="stockSubsector" i18n="Subsector@@subsector">Subsector: </label>
            <input type="text" id="stockSubsector" class="form-control" [(ngModel)]="stock.subsector" name="subsector">
          </div>
        </div>
      </form>
  </div>

  <div class="modal-footer">
    <div class="form-group">
      <button type="button" (click)="add(); addStockForm.reset()"
              class="btn btn-primary" [disabled]="!addStockForm.form.valid" i18n="Add@@add">Add</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')" i18n="Close@@close">Close</button>
    </div>
  </div>
</ng-template>

<button class="btn btn-outline-primary" title="Add Stock" (click)="openLg(content)"><i class="fas fa-plus"></i></button>
