<div class="container-fluid">
<p>Add stock: </p>

  <form #addStockForm="ngForm">
    <div class="form-group">
      <label for="stockCode">Code: </label>
      <input type="text" id="stockCode" class="form-control w-25" [(ngModel)]="stock.code" name="code">
    </div>

    <div class="form-group">
      <label for="stockPrice">Price: </label>
      <input type="number" id="stockPrice" class="form-control w-25" [(ngModel)]="stock.price" name="price">
    </div>

    <div class="form-group">
      <label for="stockPrice">Name: </label>
      <input type="text" id="stockName" class="form-control w-25" [(ngModel)]="stock.name" name="name">
    </div>

    <div class="form-group">
      <label for="stockSector">Sector: </label>
      <input type="text" id="stockSector" class="form-control w-25" [(ngModel)]="stock.sector" name="sector">
    </div>

    <div class="form-group">
      <label for="stockSubsector">Subsector: </label>
      <input type="text" id="stockSubsector" class="form-control w-25" [(ngModel)]="stock.subsector" name="subsector">
    </div>

    <button type="button" (click)="add(); addStockForm.reset()"
            class="btn btn-primary" [disabled]="!addStockForm.form.valid">Add</button>

  </form>
</div>
