<div class="card zen-card-class" [ngStyle]="{'background': getBackgroundColor(buy)}">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-11">
        <a href="http://www.fundamentus.com.br/detalhes.php?papel={{ buy.stock_data.code }}"
          target="_blank">{{ buy.stock_data.code }}</a>-{{ buy.stock_data.name }} ({{ buy.stock_data.owned }}) - {{ buy.nickname }} 
        <span title="{{ getDateLapse(buy.creation_date) }}">({{ buy.creation_date | date: "dd.MM.y" }})</span>
      </div>
      <div class="col-1">
        <ngb-rating [max]="1" [resettable]="true" [(rate)]="buy.favorite"
          (rateChange)="updateFavorite()">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
    </div>

    <div class="card-text">
      <div class="row">
        <div class="col-6">
          <ul>
            <li>Amount: {{ buy.amount_available }}/{{ buy.amount }}</li>
            <li>Price(Of buy): R$ {{ buy.price | number: '1.2-2' }}/R$ {{ buy.operation_average_price | number: '1.2-2' }}</li>
            <li>Cost: R$ {{ buy.cost | number: '1.2-2' }}/R$ {{ buy.average_cost | number: '1.2-2' }}</li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>Stock value: {{ buy.stock_data.price }}
              <zen-edit-stock [stockInput]="buy.stock_data" (onStockUpdated)="notifyChanges()"></zen-edit-stock> 
              <li><hr/></li>
              <li>Gain: <span [ngStyle]="{'color': buy.operation_gain | number: '1.2-2' | numberColor }">{{
                  buy.operation_gain | number: '1.2-2' }}</span>/ <span [ngStyle]="{'color': buy.operation_gain_percent
                  | number: '1.2-2' | numberColor }">{{ buy.operation_gain_percent | number: '1.2-2' }}</span>%</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
