<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nick</th>
      <th scope="col">Stock</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th scope="col">Cost</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Stock Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let experience of experiences">
      <td>{{ experience.nickname }}</td>
      <td>{{ experience.stock_data.code }}</td>
      <td>{{ experience.amount }}</td>
      <td>R$ {{ experience.price }}/R$ {{ experience.operation_average_price | number: '1.2-2'}}</td>
      <td>R$ {{ experience.cost }}/R$ {{ experience.average_cost | number: '1.2-2' }}</td>
      <td>R$ {{ experience.stock_data.price }}</td>
      <td>R$ {{ experience.stock_cost | number: '1.2-2' }}/R$ {{ experience.average_stock_cost | number: '1.2-2' }}</td>
  </tbody>
</table>
