<table class="table table-striped">
  <thead class="experience-header">
    <tr>
      <th scope="col" i18n="Nick@@nick">Nick</th>
      <th scope="col" i18n="Intent@@Intent">Intent</th>
      <th scope="col" i18n="Stock@@stock">Stock</th>
      <th scope="col" i18n="Amount@@amount">Amount</th>
      <th scope="col" i18n="Price@@price">Price</th>
      <th scope="col" i18n="Stock Price@@stockPrice">Stock Price</th>
      <th scope="col" i18n="Target@@target">Target</th>
      <th scope="col" i18n="Target Result@@targetResult">Target Result</th>
      <th scope="col" i18n="Actual Result@@actualResult">Actual Result</th>
    </tr>
  </thead>
  <tbody class="experience-table">
    <tr *ngFor="let experience of experiences">
      <td>{{ experience.nickname }}</td>
      <td>{{ experience.get_intent_display }}</td>
      <td>{{ experience.stock_data.code }}</td>
      <td >{{ experience.amount }}</td>
      <td>R$ {{ experience.price }}/R$ {{ experience.operation_average_price | number: '1.2-2'}}</td>
      <td>R$ {{ experience.stock_data.price }}</td>
      <td>R$ {{ experience.target }}</td>
      <td>R$ <span [ngClass]="[experience.target_gain | number:'1.2-2' | numberColor]">{{
          experience.target_gain | number:'1.2-2' }}</span>/<span [ngClass]="[experience.target_gain_percent | number: '1.2-2' | numberColor]">{{ experience.target_gain_percent | number: '1.2-2' }}</span>%</td>
      <td>R$ <span [ngClass]="[experience.experience_gain | number: '1.2-2' | numberColor]">{{ experience.experience_gain | number: '1.2-2' }}</span>/<span
        [ngClass]="[experience.experience_gain_percent | number: '1.2-2' | numberColor]">{{ experience.experience_gain_percent | number: '1.2-2' }}</span>%</td>
  </tbody>
</table>
