<button
  type="button"
  class="btn btn-sm"
  *ngIf="!onError"
  (click)="autoUpdateStock()" 
  i18n-title="Auto Update title@@autoUpdateTitle"
  title="Retrieve the price from a service." >
    <i class="fas fa-file-download"></i>
</button>

<button
  type="button"
  class="btn btn-sm btn-danger"
  *ngIf="onError"
  (click)="autoUpdateStock()" 
  i18n-title="Auto Update Error title@@autoUpdateErrorTitle"
  title="Error on retrieving price." >
    <i class="fas fa-exclamation-triangle"></i>
</button>
