.zen-card-class {
  border-style: solid;
  border-width: 5px;
  border-color: #a9bcd0;
}

.zen-card-gain {
  background: #d7e2c2;
}

.zen-card-lose {
  background: #d2caca;
}

.zen-card-loss {
  background: #d2caca;
}

.zen-card-executed {
  background: #c9c9c9;
}

.zen-card-stop {
  background: #f9f986;
}

.zen-card-archived {
  background: repeating-linear-gradient(
    45deg,
    #a9bcd0,
    #ccc9e7 40px,
    #ccc9e7 40px,
    #ccc9e7 80px
  );
}

.zen-card-gain-archived {
  background: #d7e2c2;
}

.zen-card-lose-archived {
  background: #d2caca;
}
