.zen-card-class {
  border-style: solid;
  border-width: 2px;
  border-color: var(--zen-card-border-color);
  background: var(--card-bg-color);
}

.zen-card-equity {
  background: var(--menu-bg-color);
  color: var(--menu-fn-color);
  font-weight: bold;
}

.zen-card-inner {
  background: var(--card-bg-color);
  color: var(--fn-color);
}

.zen-card-gain {
  border-color: var(--zen-card-gain-color);
}

.zen-card-lose {
  border-color: var(--zen-card-lose-color);
}

.zen-card-executed {
  border-color: var(--zen-card-executed);
}

.zen-card-stop {
  border-color: var(--zen-card-stop);
}

.zen-card-gain-archived {
  background: var(--zen-card-gain-archived-color);
}

.zen-card-lose-archived {
  background: var(--zen-card-lose-archived-color);
}
