.zen-card-gain {
  background: #d7e2c2;
}

.zen-card-lose {
  background: #D2CACA;
}

.zen-card-loss {
 background: #D2CACA;
}

.zen-card-executed {
  background: #C9C9C9;
}

.zen-card-stop {
  background: #F9F986;
}

.zen-card-archived {
background: repeating-linear-gradient(
  45deg,
  #9B9B9B,
  #CCC9E7 10px,
  #CCC9E7 10px,
  #CCC9E7 40px
);
}

.zen-card-gain-archived {
background: repeating-linear-gradient(
  45deg,
  #B0FDB0,
  #B0FDD6 10px,
  #B0FDFD 10px,
  #B0D6FD 20px
);
}

.zen-card-lose-archived {
background: repeating-linear-gradient(
  45deg,
  #FEB2AE,
  #FEDAAE 10px,
  #FEB2AE 10px,
  #FEB2AE 20px
);
}

