<div class="card zen-card-class">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-7">
        <a href="http://www.fundamentus.com.br/detalhes.php?papel={{ experience.stock_data.code }}" target="_blank">{{ experience.stock_data.code }}</a>-{{ experience.stock_data.name }} ({{ experience.stock_data.owned }}) - {{ experience.nickname }} 

        <span title="{{ getDateLapse(experience.creation_date) }}">({{ experience.creation_date | date: "dd.MM.y" }})</span>
      </div>
      <div class="col-1">
        <zen-note-modal [operation_pk]="experience.pk"></zen-note-modal>
      </div>
      <div class="col-3">
        <select [(ngModel)]="experience.intent" class="form-control" (change)="updateIntent(experience)">
          <option value="B">Buy</option>
          <option value="S">Sell</option>
        </select>
      </div>
      <div class="col-1">
        <ngb-rating [max]="1" [resettable]="true" [(rate)]="experience.favorite"
          (rateChange)="updateFavorite()">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-5">
          <ul *ngIf="experience.detailed">
            <li>Stop Loss: R$ <span [outerHTML]="experience.stop_loss_result | number: '1.2-2' | numberColor "></span>/ 
              <span [outerHTML]="experience.stop_loss_percent | number: '1.2-2' | numberColor "></span>%</li>
            <li>Target Gain: R$ <span [outerHTML]="experience.target_gain | number:'1.2-2' | numberColor"></span> /
              <span [outerHTML]="experience.target_gain_percent | number: '1.2-2' | numberColor"></span>%</li>
            <li>Recommended Limit: R$ {{ experience.operation_limit | number:'1.2-2' }} </li>
          </ul>

          <div class="card" style="font-size: 0.75rem;" *ngIf="experience.detailed">
            <div class="card-header">Equity Impact</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Stop loss: <span [outerHTML]=" experience.stop_loss_total_percent | number: '1.2-2' | numberColor "></span>%</li>
              <li class="list-group-item">Target: <span [outerHTML]=" experience.target_gain_total_percent | number: '1.2-2' | numberColor "></span>%</li>
              <li class="list-group-item">Stock: <span [outerHTML]=" experience.experience_total_gain_percent | number: '1.2-2' | numberColor "></span>%</li>
            </ul>
          </div>
        </div>
        <div class="col-7">
          <ul>
            <li><strong>Price: R$ {{ experience.price }}/<span *ngIf="experience.detailed">R$ {{ experience.operation_average_price | number: '1.2-2'}}</span></strong></li>
            <li>Amount: {{ experience.amount }}</li>
            <li *ngIf="experience.detailed">Cost: R$ {{ experience.cost |  number: '1.2-2' }}/R$ {{ experience.average_cost | number: '1.2-2' }}</li> <!-- Colocar o get color -->
            <li><hr></li>
            <li>Stock price: R$ {{ experience.stock_data.price }}</li>
            <li *ngIf="experience.detailed">Stock cost: R$ {{ experience.stock_cost | number: '1.2-2' }}/R$ {{ experience.average_stock_cost | number: '1.2-2' }}</li>
            <li *ngIf="experience.detailed">Stock profit: R$ <span [outerHTML]="experience.experience_gain | number: '1.2-2' | numberColor "></span>/
              <span [outerHTML]="experience.experience_gain_percent | number: '1.2-2' | numberColor"></span>%</li>
          </ul>
          <zen-edit-stock [stockInput]="experience.stock_data" (onStockUpdated)="notifyStockUpdated($event)"></zen-edit-stock>
        </div>
      </div>
    </div>
  </div>
</div>

