<div class="card">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-7">
        {{ experience.stock_data.code }}-{{ experience.stock_data.name }} ({{ experience.stock_data.owned }}) - {{ experience.nickname }} 

        <span title="{{ getDateLapse(experience.creation_date) }}">({{ experience.creation_date | date: "dd.MM.y" }})</span>
      </div>
      <div class="col-1">
        <zen-note-modal [operation]="experience"></zen-note-modal>
      </div>
      <div class="col-3">
        <select [(ngModel)]="experience.intent" class="form-control">
          <option value="B">Buy</option>
          <option value="S">Sell</option>
        </select>
      </div>
      <div class="col-1">
        <ngb-rating [max]="1" [resettable]="true" [(rate)]="experience.favorite">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-5">
          <ul>
            <li>Stop Loss: R$ {{ experience.stop_loss_result | number: '1.2-2' }}/ {{ experience.stop_loss_percent | number: '1.2-2' }}%</li>
            <li>Target Gain: R$ {{ experience.target_gain | number:'1.2-2' }} / {{
              experience.target_gain_percent | number: '1.2-2'}}%</li>
            <li>Recommended Limit: R$ {{ experience.operation_limit | number:'1.2-2' }} </li>
          </ul>
        </div>
        <div class="col-7">
          <ul>
            <li><strong>Price: R$ {{ experience.price }}/R$ {{ experience.operation_average_price
                | number: '1.2-2'}}</strong></li>
            <li>Amount: {{ experience.amount }}</li>
            <li>Cost: R$ {{ experience.cost |  number: '1.2-2' }}/R$ {{ experience.average_cost | number: '1.2-2' }}</li> <!-- Colocar o get color -->
            <li><hr></li>
            <li>Stock price: R$ {{ experience.stock_data.price }}</li>
            <li>Stock cost: R$ {{ experience.stock_cost | number: '1.2-2' }}/R$ {{ experience.average_stock_cost | number: '1.2-2' }}</li>
            <li>Stock profit: R$ {{ experience.experience_gain | number: '1.2-2' }}/{{
              experience.experience_gain_percent | number: '1.2-2' }}%</li>
          </ul>
          <!-- <zen-edit-stock [stockInput]="experience.stock_data" (onStockUpdated)="updateExperiment($event)"></zen-edit-stock> -->
        </div>
      </div>
    </div>
  </div>
</div>

