<div class="card zen-card-class" [ngStyle]="{'background': getBackgroundColor(paperSell)}">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-11">
        <a href="http://www.fundamentus.com.br/detalhes.php?papel={{ paperSell.stock_data.code }}"
          target="_blank">{{ paperSell.stock_data.code }}</a>-{{ paperSell.stock_data.name }}
        ({{ paperSell.stock_data.owned }}) - {{ paperSell.nickname }} 
        <span title="{{ getDateLapse(paperSell.creation_date) }}">({{ paperSell.creation_date | date: "dd.MM.y" }})</span>
      </div>
    </div>

    <div class="card-text">
      <div class="row">
        <div class="col-6">
          <ul>
            <li>Amount: {{ paperSell.amount }}</li>
            <li>Price(Of sell): R$ {{ paperSell.price | number: '1.2-2' }}</li>
            <li>Gain: R$ {{ paperSell.sell_gain | number: '1.2-2' }}</li>
            <li>Percent: {{ paperSell.sell_gain_percent | number: '1.2-2' }}%</li>

            <!-- <li>Cost: R$ {{ buy.cost | number: '1.2-2' }}/R$ {{ buy.average_cost | number: '1.2-2' }}</li> -->
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>Stock value: {{ paperSell.stock_data.price }}
              <zen-edit-stock [stockInput]="paperSell.stock_data"></zen-edit-stock> 
              <li><hr/></li>
              <!-- <li>Gain: <span [outerHTML]="buy.operation_gain | number: '1.2-2' | numberColor "></span>/ <span [outerHTML]="buy.operation_gain_percent | number: '1.2-2' | numberColor "></span>%</li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
