<div [ngClass]="['card', 'zen-card-class', getClassCard(paperSell)]">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-11">
        <a href="http://www.fundamentus.com.br/detalhes.php?papel={{ paperSell.stock_data.code }}"
          target="_blank">{{ paperSell.stock_data.code }}</a>-{{ paperSell.stock_data.name }}
        ({{ paperSell.stock_data.owned }}) - {{ paperSell.nickname }} 
        <span title="{{ getDateLapse(paperSell.creation_date) }}">({{ paperSell.creation_date | date: "dd.MM.y" }})</span>
      </div>
    </div>

    <div class="card-text">
      <div class="row">
        <div class="col-6">
          <ul>
            <li><span i18n="Amount@@Amount">Amount:</span> {{ paperSell.amount }}</li>
            <li><span i18n="Price Of sell@@priceOfSell">Price(Of sell): R$</span> {{ paperSell.price | number: '1.2-2' }}</li>
            <li><span i18n="Gain@@gain">Gain: R$</span> {{ paperSell.sell_gain | number: '1.2-2' }}</li>
            <li><span i18n="Percent@@percent">Percent:</span> {{ paperSell.sell_gain_percent | number: '1.2-2' }}%</li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li><span i18n="Stock Value@@stockValue">Stock value</span>: {{ paperSell.stock_data.price }}
              <zen-stock-edit [stockInput]="paperSell.stock_data" (onStockUpdated)="refreshSell()"></zen-stock-edit> 
              <li><hr/></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
