  <zen-menu></zen-menu>

  <div class="container"> 
    <h4 class="divider line razor" i18n="Theme Chooser@@themeChooser">Themes</h4>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" style="background-color:#83a598" (click)="changeMode('theme_light')">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" style="background-color:#3c3836" (click)="changeMode('theme_night')">&nbsp;</div>
    </div>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" style="background-color:#000033" (click)="changeMode('theme_queen')">&nbsp;</div>
    </div>
  </div>
