  <zen-menu></zen-menu>

  <div class="container"> 
    <h4 class="divider line razor" i18n="Theme Chooser@@themeChooser">Themes</h4>
    <ul class="list-group">
      <li class="list-group-item" [ngClass]=""><button class="btn btn-link" (click)="changeMode('theme_light')">Original Light</button></li>
      <li class="list-group-item"><button class="btn btn-link" (click)="changeMode('theme_night')">Original Night Mode</button></li>
      <li class="list-group-item"><button class="btn btn-link" (click)="changeMode('theme_queen')">Queen's style</button></li>
    </ul>
  </div>
