<div class="row">
  <div class="col-2 mt-3" *ngFor="let buy of buys">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ buy.stock_data.code }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ buy.nickname || "A nickless buy "}}</h6>
        <div class="card-text">
          <p>Compra: R$ {{ buy.price }}</p>
          <p>Preço Ação: R$ {{ buy.stock_data.price }}</p>
          <p>Quantidade: {{ buy.amount }}</p>
          <hr>
          <p>Resultado: R$ {{ buy.operation_gain }}</p>
          <hr>
          <zen-edit-stock [stockInput]="buy.stock_data" (onStockUpdated)="notifyChanges()"></zen-edit-stock> 
        </div>
      </div>
    </div>
  </div>
</div>
