@import url("../../../assets/css/cards.css");

/* https://css-tricks.com/fun-with-blurred-text/ */
blurtext {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.zen-card-class {
  border-style: solid;
  border-width: 5px;
  border-color: #47A8FF;
}
