<div class="row">
  <div class="col-lg-4 col-xl-2" *ngFor="let buy of buys; let i = index">
    <div class="card mb-1" [ngStyle]="{'background': getBackgroundColor(buy)}">
      <div class="card-body">
        <h4 class="card-title"><span style="color: transparent; text-shadow: 0 0 5px rgba(0,0,0,0.5);">{{ buy.stock_data.code }}</span></h4>
        <h6 title="{{ getDateLapse(buy.date) }}" class="card-subtitle mb-2 text-muted">{{ buy.nickname || "A nickless buy "}}  {{ buy.date | date: "dd.MM.y" }}</h6>
        <div class="card-text">
          <p>Buy Price: R$ {{ buy.price }}</p>
          <p>Stock Price: R$ {{ buy.stock_data.price }}</p>
          <p>Amount: {{ buy.amount }}</p>
          <hr>
          <p>Profit: {{ buy.operation_gain | number: '1.2-2' }}/{{ buy.operation_gain_percent | number: '1.2-2' }}%</p>
          
          <hr>
        </div>
        <zen-edit-stock [stockInput]="buy.stock_data" (onStockUpdated)="notifyChanges()"></zen-edit-stock> 
      </div>
    </div>
  </div>
</div>
