<zen-menu></zen-menu>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
       <zen-operation-accordion (onOperationExperiment)="addExperience($event)"></zen-operation-accordion>
    </div>
    <div class="col-9" *ngIf="experiences.length == 0"><span><i class="fa fa-arrow-lt"></i><span i18n="Begin
          Experience@@beginExperience "> Click here to begin an experience</span></span></div>
  </div>
   
<zen-bootstrap-officer></zen-bootstrap-officer>
  <div class="row">
    <div class="col-12" *ngFor="let experience of experiences">
      <div class="row mt-3">
        <div class="col-5">
          <zen-experience-card [experience]="experience" (onStockUpdated)="retrieveExperiments()"></zen-experience-card> 
        </div>

        <div class="col-7">
          <zen-experience-edit [experience]="experience" (onExperienceChanged)="updateExperience($event, experience)"></zen-experience-edit>
          <hr>
        </div>
      </div>
    </div>
  </div>

</div>
