<div class="card zen-card-class" [ngStyle]="{'background': getBackgroundColor(sell)}">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-10">
        <a href="http://www.fundamentus.com.br/detalhes.php?papel={{ sell.stock_data.code }}" target="_blank">{{ sell.stock_data.code }}</a>-{{ sell.stock_data.name }} ({{ sell.stock_data.owned }}) - {{
        sell.nickname }} <span title="{{ getDateLapse(sell.creation_date) }}">({{ sell.creation_date | date: "dd.MM.y"
          }})</span> by <strong>[{{ sell.owner_data.username }}]</strong>
      </div> 
      <div class="col-1">
        <zen-note-modal [operation_pk]="sell.pk"></zen-note-modal>
      </div>
      <div class="col-1" (click)="markToUpdate()">
        <ngb-rating [max]="1" [resettable]="true" [(rate)]="sell.favorite"
          (rateChange)="updateFavorite()">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-6">
          <ul>
            <li title="Amount remaing / total amount">Amount available: {{ sell.amount_available }}</li>
            <li title="How much money will enter in the account">Sell Value: R$ {{ sell.sell_value | number: '1.2-2' }}</li>
            <li title="How much we will lose(or maybe gain?) if the stop is hit.">Stop loss: R$ 
              <span [ngStyle]="{'color': sell.stop_loss_result | number: '1.2-2' | numberColor }">{{
                sell.stop_loss_result | number: '1.2-2' }}</span> / <span [ngStyle]="{'color': sell.stop_loss_percent |
                number: '1.2-2' | numberColor }">{{ sell.stop_loss_percent | number: '1.2-2' }}</span>%</li>
            <li title="How much we will gain if the stop is hit.">Stop gain:<span *ngIf="sell.stop_gain_result"> R$ 
                <span [ngStyle]="{'color': sell.stop_gain_result | number: '1.2-2' | numberColor }">{{
                  sell.stop_gain_result | number: '1.2-2' }}</span> / <span [ngStyle]="{'color': sell.stop_gain_percent
                  | number: '1.2-2' | numberColor }">{{ sell.stop_gain_percent | number: '1.2-2' }}</span>%</span></li>
            <li title="The total profit of the operation. Based on the buy price related to this sell only">Profit: 
              R$ <span [ngStyle]="{'color': sell.profit | number: '1.2-2' | numberColor }">{{ sell.profit | number:
                '1.2-2' }}</span> / <span [ngStyle]="{'color': sell.profit_percent | number: '1.2-2' | numberColor
                }">{{ sell.profit_percent | number: '1.2-2' }}</span>%</li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li *ngIf="!sell.executed" title="The total profit of the operation. Based on the actual stock price related to this sell only">
              Stock Profit: R$ <span [ngStyle]="{'color': sell.stock_profit | number: '1.2-2' | numberColor }">{{ sell.stock_profit | number: '1.2-2' }}</span> / 
              <span [ngStyle]="{'color': sell.stock_profit_percent | number: '1.2-2' | numberColor }">{{ sell.stock_profit_percent | number: '1.2-2' }}</span>%</li>
            <li *ngIf="sell.executed" [ngClass]="{'list-group-item-success': getSoldColor(sell),
            'list-group-item-danger': !getSoldColor(sell)}" class="font-weight-bold text-center list-group-item-success">sold</li>
          </ul>
          <zen-edit-stock *ngIf="!sell.executed" [stockInput]="sell.stock_data" (onStockUpdated)="notifyChanges()"></zen-edit-stock>
          <div class="card" [ngStyle]="{'background': getBackgroundColor(sell)}" style="font-size: 0.75rem;">
            <div class="card-header">Equity Impact: <span [ngStyle]="{'color':  sell.profit_total_percent | number:
            '1.2-2' | numberColor }">{{  sell.profit_total_percent | number: '1.2-2' }}</span>%</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Stop loss: <span [ngStyle]="{'color': sell.stop_loss_total_percent | number:
              '1.2-2' | numberColor }">{{ sell.stop_loss_total_percent | number: '1.2-2' }}</span>%</li>
              <li class="list-group-item">Stock: <span [ngStyle]="{'color': sell.stock_profit_total_percent | number:
              '1.2-2' | numberColor }">{{ sell.stock_profit_total_percent | number: '1.2-2' }}</span>%</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
