<div class="card">
  <div class="card-body">
    <span class="card-title">

      <div class="row">
        <div class="col-3"><h4>{{stock.code}}</h4>
          <h6><small *ngIf="stock.owned > 0">{{ stock.owned }}</small><small *ngIf="stock.owned == 0">:(</small></h6>
        </div>
        <div class="col-6 card-subtitle text-muted">
          <h6><small i18n="Profit@@profit">Profit:</small> R${{stock.historical.profit}}</h6>
          <h6><small i18n="ProfitPrct@@profitPrct">Profit(%):</small> {{stock.historical.profit_percent}}%</h6>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <zen-experience-accordion (onOperationExperiment)="emitStockUpdated($event)" [stock_input]="stock"></zen-experience-accordion>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12">
              <zen-experience-card-modal [stock]="stock"></zen-experience-card-modal>
            </div>
          </div>
        </div>
      </div>
    </span>
    <hr>

    <h6 class="card-subtitle mb-2 text-muted" *ngIf="!editing" (dblclick)="toggleEdit()"><small i18n="Stock price@@stockPrice">Stock price:</small> R${{stock.price}}</h6>
    <zen-stock-edit *ngIf="editing" [stockInput]="stock" (onStockUpdated)="updateStock($event)"></zen-stock-edit>
  </div>
</div>
