<form #editExperienceForm="ngForm">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        *<label for="amount" i18n="Amount@@amount">Amount</label>:
        <input type="text" class="form-control form-control-sm border border-primary" id="amount" [(ngModel)]="experience.amount" (keydown.enter)="edit();" name="amount">
      </div>

      <div class="form-group">
        <label for="price" i18n="Price@@price">Price</label>:
        <input type="text" class="form-control form-control-sm border border-primary" [ngStyle]="{'background': getPiranhaIndicator(experience)}" id="price" [(ngModel)]="experience.price" (keydown.enter)="edit();" name="price">
      </div>

      <div class="form-group">
        <label for="target" i18n="Target@@target">Target</label>:
        <input type="text" class="form-control form-control-sm border border-primary" id="target" [(ngModel)]="experience.target" (keydown.enter)="edit();" name="target">
      </div>

      <div class="form-group">
        <label for="limit" i18n="Limit@@limit">Limit</label>:
        <input type="text" class="form-control form-control-sm border border-primary" id="limit" [(ngModel)]="experience.limit" (keydown.enter)="edit();" name="limit">
      </div>

      <div class="form-group">
        <label for="category" i18n="Category@@category">Category</label>:
        <select [(ngModel)]="experience.category" class="form-control" name="category">
          <option *ngFor="let category of experience.categories" [ngValue]="category[0]">{{ category[1] }}</option>
        </select>
      </div>

      <button type="button" class="btn btn-primary btn-sm mr-1" (click)="edit();"
                            [disabled]="!editExperienceForm.form.valid"><span i18n="Edit@@edit"><span class="fa fa-check"></span></span>
      </button>

      <zen-quick-buy class="mr-1" [experience]="experience" (onOperationBought)="updateExperiment($event)" ></zen-quick-buy>
      <zen-paper-quick-buy class="mr-1" [experience]="experience"
                           (onOperationChanged)="updateExperiment($event)" ></zen-paper-quick-buy>
        <button class="btn btn-outline-primary btn-sm" title="return_card" (click)="toggleEdit()" *ngIf="editable"><i class="fa fa-backward"></i></button>

    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="stop_gain" i18n="Stop Gain@@stopgain">Stop Gain</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" id="stop_gain" [(ngModel)]="experience.stop_gain" (keydown.enter)="edit();" name="stop_gain">
      </div>
      <div class="form-group">
        <label for="stop_loss" i18n="Stop Loss@@stopLoss">Stop Loss</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" [ngStyle]="{'background': getPiranhaIndicator(experience)}" id="stop_loss" [(ngModel)]="experience.stop_loss" (keydown.enter)="edit();" name="stop_loss">
      </div>

      <div class="form-group">
        <label for="action" i18n="Action@@action">Action</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" id="action" [(ngModel)]="experience.action" (keydown.enter)="edit();" name="action">
      </div>
      <div class="form-group">
        <label for="nickname" i18n="Nickname@@nickname">Nickname</label>: 
        <input type="text" class="form-control form-control-sm border border-primary" id="nickname" [(ngModel)]="experience.nickname" (keydown.enter)="edit();" name="nickname">
      </div>

      <div class="form-group">
        <label for="intent" i18n="Intent@@intent">Intent</label>:
        <select [(ngModel)]="experience.intent" class="form-control" name="intent">
          <option *ngFor="let intent of experience.intents" [ngValue]="intent[0]">{{ intent[1] }}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-input border border-primary" id="archived" name="archived" [(ngModel)]="experience.archived" [checked]="experience.archived">
        <label for="checkbox" i18n="Archived@@archived">Archived</label>
      </div>

    </div>
  </div>
</form>
