/* You can add global styles to this file, and also import other style files */

/* @import url("../node_modules/normalize.css/normalize.css"); */
@import url("assets/css/reset.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

p{
    margin-top: 0;
    margin-bottom: 0;
}

body {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  /* background: #B5D9D6; */
}
