<div>
  <p>Sell: </p>
  <form #addSellForm="ngForm">
    <div class="form-group">
      <label for="operation">Operation: </label>
      <input type="text" class="form-control form-control-sm" id="operation" [(ngModel)]="operationNested.pk" name="operation">
    </div>

    <div class="form-group">
      <label for="value">Value: </label>
      <input type="text" class="form-control form-control-sm" id="value" [(ngModel)]="sell.value" name="value">
    </div>

    <button type="button" (click)="add(); addSellForm.reset()"
            [disabled]="!addSellForm.form.valid" class="btn btn-primary">Add
    </button>
  </form>
</div>
