<div class="card zen-card-class" [ngStyle]="{'background': getBackgroundColor(buy)}">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-11">
        <a href="http://www.fundamentus.com.br/detalhes.php?papel={{ buy.stock_data.code }}"
          target="_blank">{{ buy.stock_data.code }}</a>-{{ buy.stock_data.name }} ({{ buy.stock_data.owned }}) - {{ buy.nickname }} 
        <span title="{{ getDateLapse(buy.creation_date) }}">({{ buy.creation_date | date: "dd.MM.y" }})</span>
      </div>
    </div>

    <div class="card-text">
      <div class="row">
        <div class="col-6">
          <ul>
            <li><span i18n="Amount@@amount">Amount</span>: {{ buy.amount }}</li>
            <li><span i18n="Price of buy@@priceOfBuy">Price(Of buy)</span>: R$ {{ buy.price | number: '1.2-2' }}</li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li><span i18n="Stock value@@stockValue">Stock value</span>: {{ buy.stock_data.price }}
              <zen-stock-edit [stockInput]="buy.stock_data" (onStockUpdated)="refreshBuy()"></zen-stock-edit> 
              <li><hr/></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
